<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= pageTitle %></title>
  </head>
  <body class="flex min-h-[100dvh] flex-col">
    <%- include('header') -%>
    <main
      class="mx-6 mb-14 flex flex-1 flex-col items-center justify-center gap-10 px-4 py-10"
    >
      <div
        class="flex min-w-[300px] relative flex-col rounded-xl bg-slate-200 px-10 py-12 pb-5 shadow-md"
      >
        <p class="self-end absolute right-4 top-5">Created: <%= blog.formatted_date_stamp %></p>
        <h2
          class="mx-3 mt-4 flex items-center justify-center border-b border-slate-400 pb-2 text-center text-3xl font-semibold"
        >
          <%= pageTitle %>
        </h2>

        <form action="" method="POST">
          <div
            class="flex flex-1 flex-col items-center justify-center gap-4 px-4 py-6 pt-5"
          >
            <div class="flex w-full flex-col gap-2">
              <label for="email">Title</label>
              <input
                class="rounded-md p-2"
                value="<%= (typeof blogTitle === 'undefined') ? '' : blogTitle %>"
                name="title"
                placeholder=""
                type="title"
                required
              />
              <% if (typeof errors !== 'undefined') { %> <%
              errors.forEach(function(error) { %> <% if ((typeof error !==
              'undefined') && error.path === 'title') { %>
              <span class="text-red-600"><%= error.msg %></span>
              <% } %> <% }); %> <% } %>
            </div>

            <div class="flex w-full flex-col gap-2">
              <label for="content">Content</label>
              <textarea
                class="rounded-md p-2"
                value=""
                name="content"
                id="content"
                type="content"
                cols="40"
                rows="10"
              >
<%= (typeof blog === 'undefined') ? '' : blog.content %></textarea
              >
              <% if (typeof errors !== 'undefined') { %> <%
              errors.forEach(function(error) { %> <% if ((typeof error !==
              'undefined') && error.path === 'content') { %>
              <span class="text-red-600"><%= error.msg %></span>
              <% } %> <% }); %> <% } %>
            </div>

            <div class="flex items-center justify-between gap-7">
              <label class="flex flex-col gap-1 capitalize" for="published"
                >publish <% if (blog.published === true) { %>
                <input
                  name="publishStatus"
                  id="<% blog._id %>"
                  value="<%= blog._id  %>"
                  type="checkbox"
                  class="accent-slate-600"
                  checked
                />
                <% } else if (blog.published === false) { %>
                <input
                  name="publishStatus"
                  id="<% blog._id %>"
                  value="<%= blog._id  %>"
                  type="checkbox"
                  class="accent-slate-600"
                />
                <% } %>
              </label>
              <button
                class="mt-3 rounded-md border-[1px] border-solid border-gray-700 p-[10px] text-gray-700 transition-[color] duration-[0.1s] ease-linear hover:border-black hover:text-black"
                type="submit"
              >
                Create
              </button>
            </div>
          </div>
        </form>
        <% if (typeof messageFailure !== 'undefined' && messageFailure.length) {
        %>
        <div class="max-w-[300px]"><%= messageFailure %></div>
        <% } %>
      </div>
      <section class="flex flex-col gap-6">
        <h2 class="text-center text-3xl font-semibold capitalize">
          blog comments
        </h2>
        <% if (blogComments.length > 0) { %> <%
        blogComments.forEach((blogComment, index) => { %>
        <article
          class="flex max-w-[1000px] flex-col gap-3 rounded-xl border-[1px] border-solid border-gray-600 p-5 px-7 py-4 text-2xl shadow-[5px_5px_9px_-2px_rgba(79,79,79,0.27)] lg:min-w-[550px]"
        >
          <div class="flex items-baseline justify-between gap-8">
            <div class="flex items-baseline justify-start gap-2">
              <p
                class="border-r-[1px] border-solid border-gray-400 pr-2 text-xl font-bold"
              >
                <%= blogComment.author.full_name %>
              </p>
              <p class="text-[1rem] text-gray-500">
                <%= blogComment.formatted_date_stamp %>
              </p>
            </div>
            <div class="flex items-baseline gap-3">
              <% if (commentUpvotes[index] !== 0){ %> <% if
              (commentUpvotes[index] === 1) { %>
              <p class="text-lg"><%= commentUpvotes[index] %> Upvote</p>
              <% } else { %>
              <p class="text-lg"><%= commentUpvotes[index] %> Upvotes</p>
              <% } %> <% } %>
              <a href="<%= blogComment.url+'/deletion'  %>">
                <button
                  class="rounded-lg border-[1px] border-solid border-gray-700 p-1 px-2 text-lg capitalize text-gray-700 hover:border-gray-950 hover:text-gray-950"
                >
                  delete
                </button>
              </a>
            </div>
          </div>

          <p class="py-2 text-[1.2rem]"><%= blogComment.content %></p>
        </article>

        <% }) %> <% } else { %>
        <p>No comments for this blog...</p>

        <% } %>
      </section>
    </main>
  </body>
</html>
